h1{ 
    font-size:200px ;
    Color:rgb(0, 234, 255);
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

h2{
    font-size: 150px;
    Color:rgb(0, 234, 255)
}

h3{
    font-size: 100px;
    color: hotpink;
}
body{
    background-color: black;
}
